/* 
  articles quotes
*/
.quote .wrap {
  width: 100%;
}
.quote div {
  margin-bottom: 2rem;
  width: 30rem;
}
.quote div p,
strong {
  font-size: 1rem;
}
.quote div p {
  position: relative;
  background-color: hsl(218, 44%, 16%);
  border-radius: 0.625rem;
  padding: 2rem 3rem;
  height: calc(100% - 2.625rem);
}
.quote div p::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 3rem;
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-top: 0.75rem solid #17243b;
}
.quote div strong {
  text-align: left;
}
